<script src="~/Scripts/TmamScripts/errand-crud.js"></script>
@using ElecWarSystem.Models
@{
    int j = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tmam_layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>تمام المأموريات</h2>
        <p id="errand-counter" style="margin:10px; font-size:18px;">@ViewBag.EnteredErrands / @ViewBag.TotalErrands</p>

        <div class="container my-4">
            <div class="row justify-content-center ">
                <div class="form-group  ">
                    <button id="add-errand-btn" class="btn btn-primary" style="font-size:16px;" onclick="openErrandPopup()">
                        <i class="fas fa-plus"></i>
                        إضافة
                    </button>
                </div>
                <div class=" row mt-4">
                    <table class="Agaza-table table-striped" id="errand-table">
                        <thead>
                            <tr>
                                <th>م</th>
                                <th>الرتبة / الدرجة</th>
                                <th>الإسم </th>
                                <th>جهة المأمورية</th>
                                <th>الأمر بالمأمورية</th>
                                <th>التاريخ من</th>
                                <th>التاريخ إلى</th>
                                <th> الاجراءات</th>
                            </tr>
                        </thead>

                        <tbody style="font-size:14px;">
                            @foreach (Errand errand in ViewBag.errandsList)
                            {
                                <tr>
                                    <td class="p-4">@j</td>
                                    <td>@errand.ErrandDetail.Person.Rank.RankName</td>
                                    <td>@errand.ErrandDetail.Person.FullName</td>
                                    <td>@errand.ErrandDetail.ErrandPlace</td>
                                    <td>@errand.ErrandDetail.ErrandCommandor</td>
                                    <td class="aribiano">@errand.ErrandDetail.DateFrom.ToString("yyyy-MM-dd")</td>
                                    <td class="aribiano">@errand.ErrandDetail.DateTo.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        <button class="btn btn-danger" onclick="deleteErrand(@errand.ID)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                j++;
                            }
                            @if (j == 1)
                            {
                                <tr>
                                    <td colspan="8" class="text-center text-muted">لا توجد مأموريات مسجلة  .</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="errandModal" tabindex="-1" aria-labelledby="errandModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold" id="vacationModalLabel">إضافة أجازة</h5>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group" style="width: 30%; float: right;">
                        @Html.Label("الرتبة/الدرجة", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("person-rank", new SelectList(ViewBag.ranks, "ID", "RankName"), new { @class = "form-control", @id = "person-rank", @onchange = "UpdatePersonComboBox()" })
                    </div>
                    <div class="form-group" style="width:60%; float:right; margin-right:10%">
                        @Html.Label("الإسم", htmlAttributes: new { @class = "control-label" })
                        <select name="person-name" class="form-control" id="person-name" onchange="disableBtn()">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.Label("جهة المأمورية", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("errand-place", new { htmlAttributes = new { @class = "form-control", @id = "errand-place", @onkeyup = "disableBtn()" } })
                    </div>
                    <div class="form-group">
                        @Html.Label("الأمر بالمأمورية", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("errand-commandor", new { htmlAttributes = new { @class = "form-control", @id = "errand-commandor", @onkeyup = "disableBtn()" } })
                    </div>
                    <div class="form-group" style="width: 45%; float: right;">
                        @Html.Label("التاريخ من", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("date-from", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-from", @onchange = "disableBtn()" } })
                    </div>
                    <div class="form-group" style="width:45%; float:right; margin-right:10%">
                        @Html.Label("التاريخ إلى", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("date-to", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "date-to", @onchange = "disableBtn()" } })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success popup-submit-btn" disabled style="font-size:16px;" onclick="Add()">
                            <i class="fas fa-save"></i>
                            حفظ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
